/* BEFORE AND AFTER: PADDING AND MARGIN */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* HTML AND BODY + FOOTER GUIDE */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgb(12, 12, 12), rgba(147, 147, 147, 0.7)),
    url(https://images.unsplash.com/photo-1571754472834-677ab0a62ba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1369&q=80);
  
    margin: 0px;
    overflow-x: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; 
  
    /* Footer Guide */
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
  }

/* MAIN */
main {
    flex-grow: 1;
  }
  

/* Flex Container*/
.flex-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/* CONTENTS AND ELEMENTS */
.elClasicoLogoMerged {
  width: 20em;
  margin-top: 5em;
}

.elClasicoTitle {
  width: 14em;
  margin-top: 1em;
}

.laLigaLogo {
  width: 10em;
  margin-top: 6em;
  margin-bottom: 5em;
}





/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {

/* CONTENTS AND ELEMENTS */
.elClasicoLogoMerged {
  width: 24em;
  margin-top: 6em;
}

.elClasicoTitle {
  width: 15em;
  margin-top: 1em;
}

.laLigaLogo {
  width: 12em;
  margin-top: 8.5em;
}

}


/* BUTTON */
.myButton {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 7em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #FFD700;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px rgb(217, 217, 217);
}

.myButton:hover {background-color: #ffffff}

.myButton:active {
  background-color: #FFD700;
  box-shadow: 0 5px rgb(255, 255, 255);
  transform: translateY(4px);
}



/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {

  .myButton {
    margin-top: 4em;
  }

}


/* Desktop */
@media only screen 
and (min-device-width: 1025px) {

/* CONTENTS AND ELEMENTS */
.elClasicoLogoMerged {
  width: 23em;
  margin-top: 3.2em;
}

.elClasicoTitle {
  width: 15em;
  margin-top: 1em;
}

.laLigaLogo {
  width: 10em;
  margin-top: 5em;
}

.myButton {
  margin-top: 4em;
}

}
        

/* FOOTER */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0.7em;
  background-color: #FFD700;
  color: rgb(0, 0, 0);
}


