*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html, body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(rgb(12, 12, 12), rgba(0, 0, 0, 0.7)),
  url(https://images.unsplash.com/photo-1571754472834-677ab0a62ba7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1369&q=80);

  margin: 0px;
  overflow-x: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken; 

  /* Footer Guide */
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}


/* Footer Guide */
main {
  flex-grow: 1;
}



/* Flex Container*/
.flex-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.grid-container1 {
  display: grid;
  grid-template-columns: 9em 5em 5.5em;
  grid-template-rows: 12.5em;
  justify-content: center;
  align-items: center;
}

/* Padding */
.teamPadding {
  margin-top: 0.5em;
}

/* Heading Tags */

  h1 {
    font-size: 1.4em;
    padding-top: 1.5em;
    color: #ffffff;
  }

  h6 {
    font-size: 0.8em;
    padding-top: 0.5em;
    margin-left: 0.5em;
    color: #ffffff;
  }
  

  /* Tablet */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {

      
  .grid-container1 {
    grid-template-columns: 12em 6.5em 7em;
    grid-template-rows: 16em;

  }

  
  h1 {
    padding-top: 2em;

  }

  h6 {
    font-size: 1em;
    padding-top: 1em;
  }
  
/* Padding */
.teamPadding {
  margin-top: 1em;
}

.headerPadding {
  margin-top: 2em;
}
}


/* Desktop */
@media only screen and (min-device-width: 1025px)  {

        
  .grid-container1 {
    grid-template-columns: 22em 16em 7.5em;
    grid-template-rows: 14em;

  }

  
  h6 {
    font-size: 1em;
    padding-top: 1em;
  }


  /* Padding */
.teamPadding {
  margin-top: 1em;
}
}




  
/* Contents */
.elClasicoTitle {
  padding-top: 1em;
  width: 9.5em;
}




/* Images */
.barcelonaLogo {
  width: 6.5em;
  padding-top: 1em;
}

.realmadridLogo {
  width: 6.5em;
}

/* Score */
.elclasicoScore {
  width: 5.5em;
}

/* La Liga Logo */
.laligaLogo {
  padding-top: 2em;
  margin-bottom: 4em;
  width: 10em;
}

.elClasicoLogo {
  padding-top: 2em;
  width: 3em;
}

.dashIcon {
  width: 2em;
}


/* Font Awesome */
.fa-minus {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {


  
/* Images */
.barcelonaLogo {
  width: 8em;
  padding-top: 1em;
}

.realmadridLogo {
  width: 8em;
}

/* Score */
.elclasicoScore {
  width: 7em;
}

/* La Liga Logo */
.laligaLogo {
  padding-top: 2em;
  margin-bottom: 3em;
  width: 10em;
}


}


/* Desktop */
@media only screen and (min-device-width: 1025px)  {

  /* Images */
.barcelonaLogo {
  width: 8em;
  padding-top: 1.2em;
}

.realmadridLogo {
  width: 8em;
  margin-left: 0.5em;
}

/* Score */
.elclasicoScore {
  width: 6.5em;
}


}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0.7em;
  background-color: #FFD700;
  color: rgb(0, 0, 0);
}





/* Button */

.myButton {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 4em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #FFD700;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px rgb(217, 217, 217);
}

.myButton:hover {background-color: #ffffff}

.myButton:active {
  background-color: #FFD700;
  box-shadow: 0 5px rgb(255, 255, 255);
  transform: translateY(4px);
}

.myButtonPadding {
  padding-top: 2em;
}




/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {

  .myButton {
    margin-top: 2em;
  }

}


/* Desktop */
@media only screen and (min-device-width: 1025px)  {

  .myButton {
    margin-top: 2.5em;
  }

}